<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galileo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="fa fa-lightbulb-o"></span>
            <span class="navbar-title">Galileo</span>
          </a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" >dfucci</a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="Your settings"><span class="glyphicon glyphicon-cog"></span></a></li>
      <li><a href="" data-toggle="tooltip" data-placement="bottom" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
